<header>
    <h3 class="logo">Work Experience Timeline</h3>
</header>

<div class="options">
  <div 
    class="option" 
    *ngFor="let exp of experiences; let i = index" 
    [class.active]="i === activeIndex"
    (click)="setActive(i)"
  >
    <div class="label">
      <div class="icon">
        <i [class]="exp.icon"></i>
      </div>
      <div class="info">
        <div class="main">{{ exp.role }}</div>
        <div class="sub">{{ exp.company }} | {{ exp.dates }}</div>
        <ul>
          <li *ngFor="let task of exp.responsibilities">{{ task }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

