header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: rgb(17, 42, 205);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  text-decoration: none;
  z-index: 100;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  margin-left: 4rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: rgb(17, 42, 205);
  border-bottom: 3px solid rgb(17, 42, 205);
}

/* ===========================
   Mobile Navigation
   =========================== */

@media (max-width: 995px) {
  nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(17, 42, 205);
    border-bottom: 3px solid rgb(17, 42, 205);
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    background-color: var(--bg-color);
    border-top: 0.1rem solid var(--bg-color);
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
