.degree-header {
  text-align: center;
  margin-bottom: 4rem;
  font-size: large;
}

.memphis-logo {
  height: 100px;           /* Adjust based on your logo's aspect ratio */
  width: auto;
}

.second-major {
  font-size: medium;
  font-weight: 500;
  color: var(--blue);
  margin: 8px 0;
  font-style: italic; /* optional */
}

.course-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}

.course-filters button:hover {
  transform: scale(1.10);
}

.course-filters button {
  padding: 0.8rem 2rem;
  border-radius: 20px;
  background: var(--snd-bg-color);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.course-filters button.active {
  background: var(--main-color);
  color: black;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  gap: 3em;
}

.course-card {
  background: #00498F;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.course-card h3 {
  font-size: 1.4rem;
  opacity: 0.7;
}

.course-card h4 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.badge {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  background: var(--snd-bg-color);
}

.description {
  font-size: 1.3rem;
  opacity: 0.9;
}
